#output-panel {
    position: absolute;
    top: 2%;
    right: 2%;

    height: 100px;

    font-size: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: -2px 2px var(--dark-bg-color);
}

.icon-OP {
    height: 60px;
    margin: 0 15px;
}

.container-OP {
    line-height: 1.4;
    margin-right: 15px;
}

.name-OP, .partition-OP, .unit-OP {
    color: var(--gray-color);
}

.unit-OP {
    font-size: 15px;
}