body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #151515;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
}

/* tag */
input {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    padding-block: 0px;
    padding-inline: 0px;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    outline: none;
}



/* class */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-panel-item {
    display: flex;
    font-size: 20px;
    margin-right: 10px;
}

.unit {
    font-size: 15px; 
    transform: translateY(5px); 
}

.input-element {
    display: flex;
    width: 500px;
}

.twinkle {
    animation: twinkle 1s step-end infinite;
}

@keyframes twinkle {
    50% { background: transparent;}
}

/* id */
#top-panel {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 30px;
    background-color: #00000040;
}

#content { 
    flex-direction: column;
}

#input {
    margin-bottom: 0.2rem;
    border-bottom: solid 2px #444444;
}

#entered-text {
    color: #888888;
}

#erroneous-text {
    color: #ff4444;
}

#input-cursor {
    display: inline-block;
    background: #ffffff;
    width: 1px;
    height: 1.2rem;
}

#span-element-for-get-width {
    visibility: hidden; 
    position: absolute; 
    white-space: pre;
    right: 9999px;
    top: 9999px;
}